<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.upm.ssr.gatv.tfg">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VideosActivity"
            android:label="@string/title_activity_videos"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.upm.ssr.gatv.tfg.MainActivity" />
        </activity>
        <activity
            android:name=".MensajesActivity"
            android:label="@string/title_activity_mensajes"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.upm.ssr.gatv.tfg.MainActivity" />
        </activity>
        <activity
            android:name=".AlarmaActivity"
            android:label="@string/title_activity_alarma"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.upm.ssr.gatv.tfg.MainActivity" />
        </activity>
        <activity
            android:name=".JuegosActivity"
            android:label="@string/title_activity_juegos"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.upm.ssr.gatv.tfg.MainActivity" />
        </activity>
        <activity
            android:name=".AjustesActivity"
            android:label="@string/title_activity_ajustes"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.upm.ssr.gatv.tfg.MainActivity" />
        </activity>
        <activity
            android:name=".VideoConferenciaActivity"
            android:label="@string/title_activity_video_conferencia"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.upm.ssr.gatv.tfg.MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".VideoPlayerActivity"
            android:label="@string/title_activity_video_player"
            android:parentActivityName=".VideosActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.upm.ssr.gatv.tfg.VideosActivity" />
        </activity>
        <activity
            android:name=".SplashScreen"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShowMessageActivity"
            android:label="@string/title_activity_show_message"
            android:parentActivityName=".MensajesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.upm.ssr.gatv.tfg.MensajesActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.upm.ssr.gatv.tfg.MainActivity" />
        </activity>
        <activity
            android:name=".AcercaDe"
            android:label="Acerca De..."
            android:parentActivityName=".TresEnRayaMenu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.upm.ssr.gatv.tfg.TresEnRayaMenu" />
        </activity>
        <activity
            android:name=".JuegoCpu"
            android:label="JugarCpu"
            android:parentActivityName=".TresEnRayaMenu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.upm.ssr.gatv.tfg.TresEnRayaMenu" />
        </activity>

        <!--<receiver-->
            <!--android:name=".BroadcastReceiverGatv"-->
            <!--android:enabled="true"-->
            <!--android:permission="android.permission.RECEIVE_BOOT_COMPLETED">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--<service-->
            <!--android:name=".ReceiverService"-->
            <!--android:enabled="true" />-->

        <!--<receiver-->
            <!--android:name=".ReceiveStartService"-->
            <!--android:enabled="true"-->
            <!--android:process=":remote" />-->

        <activity
            android:name=".TresEnRayaActivity"
            android:label="@string/title_activity_tres_en_raya"
            android:parentActivityName=".TresEnRayaMenu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.upm.ssr.gatv.tfg.TresEnRayaMenu" />
        </activity>
        <activity
            android:name=".TresEnRayaMenu"
            android:label="@string/title_activity_tres_en_raya_menu"
            android:parentActivityName=".JuegosActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.upm.ssr.gatv.tfg.JuegosActivity" />
        </activity>

        <receiver
            android:name=".BootBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
        </intent-filter>
        </receiver>

        <service
            android:name=".MyTestService"
            android:exported="true">

        </service>
    </application>

</manifest>
